* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0;
    background-image: url("assets\images\images\shutterstock_148972376.width-800.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}